# populate these fields and rename the file to .env to test the app 
MONGO_URL = #url for the mongo instance
JWT_SECRET = #random secret string for jwt auth
EMAIL = #gmail account to use with nodemailer
GOOGLE_APP_PASSWORD = #app password for gmail account
APP_BASE_URL =  #base url for your instance of the app
GEMINI_API_KEY= #gemini api key from https://aistudio.google.com/